// Define variables for your color scheme
$LWmain: #CE2913;
$LWsec: #5431C4;

// For example:
$red: #FD1015;
$blue: #01183b;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
